/postgres-order/
/order-service/mvnw.cmd
/order-service/mvnw
/order-service/.gitignore
/order-service/.gitattributes
/order-service/.idea/
/order-service/.mvn/
/postgres-product/
/inventory-service/mvnw.cmd
/inventory-service/mvnw
/inventory-service/.gitattributes
/inventory-service/.mvn/
/postgres-inventory/
/discovery-service/mvnw.cmd
/discovery-service/mvnw
/discovery-service/.gitattributes
/discovery-service/.mvn/
