/postgres-order/
/mysql-order/
/mysql-user/
/data/
/order-service/mvnw.cmd
/order-service/mvnw
/order-service/.gitignore
/order-service/.gitattributes
/order-service/.idea/
/order-service/.mvn/
/postgres-product/
/inventory-service/mvnw.cmd
/inventory-service/mvnw
/inventory-service/.gitattributes
/inventory-service/.mvn/
/postgres-inventory/
/discovery-service/mvnw.cmd
/discovery-service/mvnw
/discovery-service/.gitattributes
/discovery-service/.mvn/
/api-gateway/mvnw.cmd
/api-gateway/mvnw
/api-gateway/.gitattributes
/api-gateway/.mvn/
/api-gateway/.idea/
/api-gateway-mvc/mvnw.cmd
/api-gateway-mvc/mvnw
/api-gateway-mvc/.gitattributes
/api-gateway-mvc/.mvn/
/docker/
/microservices-shop-frontend/
/ссс/
/notification-service/mvnw.cmd
/notification-service/mvnw
/notification-service/.gitattributes
/notification-service/.mvn/
